body {
    padding: 0;
    margin: 0;
background-color: black;
background-image: url("funny.jpg");
  }

  html, body {
height: 100%;
font-family: "Times New Roman", Times, serif;
}

.p5container {
margin: 0;
display: flex;
flex-wrap: wrap;
/* This centers our sketch horizontally. */
justify-content: center;

/* This centers our sketch vertically. */
align-items: center;
}
.overlay
{
  position:absolute;
z-index: 3 !important;
margin-bottom: 100px;
}

.mage
{
    margin-top: 100px;
    margin-bottom: 100px;
}


.navbar-custom {
    background-color: #CDE4E7;
    /*color: #47646D;*/
}




.accordion-center{

    margin: 0;
    display: flex;
    flex-wrap: wrap;
    /* This centers our sketch horizontally. */
    justify-content: center;
    
    /* This centers our sketch vertically. */
    align-items: center;
    z-index: 4 !important;
    position:absolute;


}
